<%_ include( '_const') _%>
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><% if( data.title !== '' ){ %><%= data.title + ' | ' ; %><%= TITLE %><% }else{ %><%= TITLE %><% } %></title>
  <link rel="canonical" href="<% if( data.url !== '' ){ %><%= data.url; %><% }else{ %><%= SITEURL %><% } %>">
  <meta name="description" content="<% if( data.description !== '' ){ %><%= data.description; %><% }else{ %><%= DESCRIPTION %><% } %>" />
  <meta property="og:image" content="<% if( data.url !== '' ){ %><%= data.url; %><% }else{ %><%= SITEURL %><% } %>">
  <meta property="og:title" content="<% if( data.title !== '' ){ %><%= data.title + ' | ' ; %><%= TITLE %><% }else{ %><%= TITLE %><% } %>">
  <meta property="og:type" content="article">
  <meta property="og:url" content="<% if( data.url !== '' ){ %><%= data.url; %><% }else{ %><%= SITEURL %><% } %>">
  <meta property="og:site_name" content="<% if( data.title !== '' ){ %><%= data.title + ' | ' ; %><%= TITLE %><% }else{ %><%= TITLE %><% } %>">
  <meta property="og:description" content="<% if( data.description !== '' ){ %><%= data.description; %><% }else{ %><%= DESCRIPTION %><% } %>">
  <link rel="stylesheet" href="<%= data.current %>assets/css/index.css?<%= DATE %>">
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2Ces2016%2Ces2017%2CPromise.prototype.finally"></script>
</head>
<body id="<%= data.name %>">
<%- include( '_header', { data : data } ); %>
