<%_
  var data = {
    url: '',/* スラッシュ始まりのドメイン以下URL ( TOPの場合は空文字で ) */
    name: 'top',/* bodyタグにつくid名 */
    title:'',/* TOPの場合は空文字で */
    description:'',/* TOPの場合は空文字で */
    keyword:'',/* TOPの場合は空文字で */
    current:'./'
  }
_%>   
<%_ data.asset = function(){ _%> 
<%_ }; data.content = function(){ _%>
  <!-- コンテンツ開始 -->
  <main id='test' class="test">
    <h1 class="title">EJSテスト</h1>
    <p class="text">ダミーテキストダミーテキストダミーテキストダミーテキスト</p>
    <button type="button">ボタンタグ</button>

    <h2 class="title">slick</h2>
    <div class="slick-test">  
      <% var ary = ['ループアイテム1', 'ループアイテム2', 'ループアイテム3']; %>
      <% ary.forEach(function (value, key) { %>
        <div class='slick-item'><%= value %></div>
      <% }); %>
    </div>

    <h2 class="title">magnificPopup</h2>
    <a data-test="テスト" href="<%= data.current %>assets/images/150x150.png" class="test-popup-link">Open popup</a>

    <section>
      <h2 class="title"><%= jsonData.title %></h2>
      <ul style="width: 300px; margin: 0 auto;">
        <% jsonData.item.forEach(function(item){ %>
        <li>
          <p><%= item.name %></p>
          <p><%= item.age %></p>
        </li>
        <% }) %>
      </ul>
      <div class="slick-test">  
        <% var ary = jsonData.slick; %>
        <% ary.forEach(function (value, key) { %>
          <div class='slick-item'><%= value.text %></div>
        <% }); %>
      </div>
    </section>
  </main>
  <!-- コンテンツ終了 -->
<%_ } _%> 
<%_ /* 以下includeファイル */ _%>
<%- include( data.current + 'includes/_head', { data : data } ); %>
<%- data.content(); %>
<%- include( data.current + 'includes/_footer', { data : data } ); %>
<%- data.asset(); %>
<%- include( data.current + 'includes/_foot', { data : data } ); %>
