<%_
  var data = {
    url: '',/* スラッシュ始まりのドメイン以下URL ( TOPの場合は空文字で ) */
    name: 'top',/* bodyタグにつくid名 */
    title:'',/* TOPの場合は空文字で */
    description:'',/* TOPの場合は空文字で */
    keyword:'',/* TOPの場合は空文字で */
    current:'./'
  }
_%>   
<%_ data.asset = function(){ _%> 
<%_ }; data.content = function(){ _%>
  <main class="content" style="padding: 200px 0;">

    <!-- lpc-itemCard -->
    <div class="lpc-itemCard js-lpc-itemCard">
      <div class="lpc-itemCard_container">
        <!-- lpc-itemCard_list -->
        <ul class="lpc-itemCard_list js-lpc-itemCard_list">
          <li class="lpc-itemCard_item js-lpc-itemCard_item">
            <a href="/" class="lpc-itemCard_link">
              <div class="lpc-itemCard_imgWrap">
                <img class="lpc-itemCard_img" src="<%= data.current %>assets/images/Superstar_OT_Tech_Shoes_Black_GV7572_01_standard.png" alt="">
                <div class="lpc-itemCard_priceWrap">
                  <span class="lpc-itemCard_price">¥1,000</span>
                </div>
              </div>
              <div class="lpc-itemCard_nameWrap">
                <p class="lpc-itemCard_name">スタンスミス / Stan Smith</p>
              </div>
            </a>
          </li>
          <li class="lpc-itemCard_item js-lpc-itemCard_item">
            <a href="/" class="lpc-itemCard_link">
              <div class="lpc-itemCard_imgWrap">
                <img class="lpc-itemCard_img" src="<%= data.current %>assets/images/Superstar_OT_Tech_Shoes_Black_GV7572_01_standard.png" alt="">
                <div class="lpc-itemCard_priceWrap">
                  <span class="lpc-itemCard_price">¥1,000</span>
                </div>
              </div>
              <div class="lpc-itemCard_nameWrap">
                <p class="lpc-itemCard_name">スタンスミス / Stan Smith</p>
              </div>
            </a>
          </li>
          <li class="lpc-itemCard_item js-lpc-itemCard_item">
            <a href="/" class="lpc-itemCard_link">
              <div class="lpc-itemCard_imgWrap">
                <img class="lpc-itemCard_img" src="<%= data.current %>assets/images/Superstar_OT_Tech_Shoes_Black_GV7572_01_standard.png" alt="">
                <div class="lpc-itemCard_priceWrap">
                  <span class="lpc-itemCard_price">¥1,000</span>
                </div>
              </div>
              <div class="lpc-itemCard_nameWrap">
                <p class="lpc-itemCard_name">スタンスミス / Stan Smith</p>
              </div>
            </a>
          </li>
          <li class="lpc-itemCard_item js-lpc-itemCard_item">
            <a href="/" class="lpc-itemCard_link">
              <div class="lpc-itemCard_imgWrap">
                <img class="lpc-itemCard_img" src="<%= data.current %>assets/images/Superstar_OT_Tech_Shoes_Black_GV7572_01_standard.png" alt="">
                <div class="lpc-itemCard_priceWrap">
                  <span class="lpc-itemCard_price">¥1,000</span>
                </div>
              </div>
              <div class="lpc-itemCard_nameWrap">
                <p class="lpc-itemCard_name">スタンスミス / Stan Smith</p>
              </div>
            </a>
          </li>
          <li class="lpc-itemCard_item js-lpc-itemCard_item">
            <a href="/" class="lpc-itemCard_link">
              <div class="lpc-itemCard_imgWrap">
                <img class="lpc-itemCard_img" src="<%= data.current %>assets/images/Superstar_OT_Tech_Shoes_Black_GV7572_01_standard.png" alt="">
                <div class="lpc-itemCard_priceWrap">
                  <span class="lpc-itemCard_price">¥1,000</span>
                </div>
              </div>
              <div class="lpc-itemCard_nameWrap">
                <p class="lpc-itemCard_name">スタンスミス / Stan Smith</p>
              </div>
            </a>
          </li>
          <li class="lpc-itemCard_item js-lpc-itemCard_item">
            <a href="/" class="lpc-itemCard_link">
              <div class="lpc-itemCard_imgWrap">
                <img class="lpc-itemCard_img" src="<%= data.current %>assets/images/Superstar_OT_Tech_Shoes_Black_GV7572_01_standard.png" alt="">
                <div class="lpc-itemCard_priceWrap">
                  <span class="lpc-itemCard_price">¥1,000</span>
                </div>
              </div>
              <div class="lpc-itemCard_nameWrap">
                <p class="lpc-itemCard_name">スタンスミス / Stan Smith</p>
              </div>
            </a>
          </li>
          <li class="lpc-itemCard_item js-lpc-itemCard_item">
            <a href="/" class="lpc-itemCard_link">
              <div class="lpc-itemCard_imgWrap">
                <img class="lpc-itemCard_img" src="<%= data.current %>assets/images/Superstar_OT_Tech_Shoes_Black_GV7572_01_standard.png" alt="">
                <div class="lpc-itemCard_priceWrap">
                  <span class="lpc-itemCard_price">¥1,000</span>
                </div>
              </div>
              <div class="lpc-itemCard_nameWrap">
                <p class="lpc-itemCard_name">スタンスミス / Stan Smith</p>
              </div>
            </a>
          </li>
          <li class="lpc-itemCard_item js-lpc-itemCard_item">
            <a href="/" class="lpc-itemCard_link">
              <div class="lpc-itemCard_imgWrap">
                <img class="lpc-itemCard_img" src="<%= data.current %>assets/images/Superstar_OT_Tech_Shoes_Black_GV7572_01_standard.png" alt="">
                <div class="lpc-itemCard_priceWrap">
                  <span class="lpc-itemCard_price">¥1,000</span>
                </div>
              </div>
              <div class="lpc-itemCard_nameWrap">
                <p class="lpc-itemCard_name">スタンスミス / Stan Smith</p>
              </div>
            </a>
          </li>
          <li class="lpc-itemCard_item js-lpc-itemCard_item">
            <a href="/" class="lpc-itemCard_link">
              <div class="lpc-itemCard_imgWrap">
                <img class="lpc-itemCard_img" src="<%= data.current %>assets/images/Superstar_OT_Tech_Shoes_Black_GV7572_01_standard.png" alt="">
                <div class="lpc-itemCard_priceWrap">
                  <span class="lpc-itemCard_price">¥1,000</span>
                </div>
              </div>
              <div class="lpc-itemCard_nameWrap">
                <p class="lpc-itemCard_name">スタンスミス / Stan Smith</p>
              </div>
            </a>
          </li>
          <li class="lpc-itemCard_item js-lpc-itemCard_item">
            <a href="/" class="lpc-itemCard_link">
              <div class="lpc-itemCard_imgWrap">
                <img class="lpc-itemCard_img" src="<%= data.current %>assets/images/Superstar_OT_Tech_Shoes_Black_GV7572_01_standard.png" alt="">
                <div class="lpc-itemCard_priceWrap">
                  <span class="lpc-itemCard_price">¥1,000</span>
                </div>
              </div>
              <div class="lpc-itemCard_nameWrap">
                <p class="lpc-itemCard_name">スタンスミス / Stan Smith</p>
              </div>
            </a>
          </li>
          <li class="lpc-itemCard_item js-lpc-itemCard_item">
            <a href="/" class="lpc-itemCard_link">
              <div class="lpc-itemCard_imgWrap">
                <img class="lpc-itemCard_img" src="<%= data.current %>assets/images/Superstar_OT_Tech_Shoes_Black_GV7572_01_standard.png" alt="">
                <div class="lpc-itemCard_priceWrap">
                  <span class="lpc-itemCard_price">¥1,000</span>
                </div>
              </div>
              <div class="lpc-itemCard_nameWrap">
                <p class="lpc-itemCard_name">スタンスミス / Stan Smith</p>
              </div>
            </a>
          </li>
          <li class="lpc-itemCard_item js-lpc-itemCard_item">
            <a href="/" class="lpc-itemCard_link">
              <div class="lpc-itemCard_imgWrap">
                <img class="lpc-itemCard_img" src="<%= data.current %>assets/images/Superstar_OT_Tech_Shoes_Black_GV7572_01_standard.png" alt="">
                <div class="lpc-itemCard_priceWrap">
                  <span class="lpc-itemCard_price">¥1,000</span>
                </div>
              </div>
              <div class="lpc-itemCard_nameWrap">
                <p class="lpc-itemCard_name">スタンスミス / Stan Smith</p>
              </div>
            </a>
          </li>
        </ul>
        <!-- lpc-itemCard_arrow -->
        <div class="js-lpc-itemCard_arrowWrap">
          <button class="lpc-itemCard_arrow mod-prev is-disabled js-lpc-itemCard_prevArrow">
            <svg class="lpc-itemCard_arrowIcon" viewBox="0 0 24 24"><title>左矢印</title><path d="M17.59 7l5 5-5 5M0 12h22" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="2"></path></svg>
          </button>
          <button class="lpc-itemCard_arrow mod-next js-lpc-itemCard_nextArrow">
            <svg class="lpc-itemCard_arrowIcon" viewBox="0 0 24 24"><title>右矢印</title><path d="M17.59 7l5 5-5 5M0 12h22" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="2"></path></svg>
          </button>
        </div>
        <!-- lpc-itemCard_dots -->
        <ul class="lpc-itemCard_dots js-lpc-itemCard_dots">
          <li class="lpc-itemCard_dotWrap is-active js-lpc-itemCard_dot">
            <span class="lpc-itemCard_dot"></span>
          </li>
          <li class="lpc-itemCard_dotWrap js-lpc-itemCard_dot">
            <span class="lpc-itemCard_dot"></span>
          </li>
        </ul>
      </div>
    </div>


    <!-- lpc-itemCard -->
    <div class="lpc-itemCard js-lpc-itemCard">
      <div class="lpc-itemCard_container">
        <!-- lpc-itemCard_list -->
        <ul class="lpc-itemCard_list js-lpc-itemCard_list">
          <li class="lpc-itemCard_item js-lpc-itemCard_item">
            <a href="/" class="lpc-itemCard_link">
              <div class="lpc-itemCard_imgWrap">
                <img class="lpc-itemCard_img" src="<%= data.current %>assets/images/Superstar_OT_Tech_Shoes_Black_GV7572_01_standard.png" alt="">
                <div class="lpc-itemCard_priceWrap">
                  <span class="lpc-itemCard_price">¥1,000</span>
                </div>
              </div>
              <div class="lpc-itemCard_nameWrap">
                <p class="lpc-itemCard_name">スタンスミス / Stan Smith</p>
              </div>
            </a>
          </li>
          <li class="lpc-itemCard_item js-lpc-itemCard_item">
            <a href="/" class="lpc-itemCard_link">
              <div class="lpc-itemCard_imgWrap">
                <img class="lpc-itemCard_img" src="<%= data.current %>assets/images/Superstar_OT_Tech_Shoes_Black_GV7572_01_standard.png" alt="">
                <div class="lpc-itemCard_priceWrap">
                  <span class="lpc-itemCard_price">¥1,000</span>
                </div>
              </div>
              <div class="lpc-itemCard_nameWrap">
                <p class="lpc-itemCard_name">スタンスミス / Stan Smith</p>
              </div>
            </a>
          </li>
          <li class="lpc-itemCard_item js-lpc-itemCard_item">
            <a href="/" class="lpc-itemCard_link">
              <div class="lpc-itemCard_imgWrap">
                <img class="lpc-itemCard_img" src="<%= data.current %>assets/images/Superstar_OT_Tech_Shoes_Black_GV7572_01_standard.png" alt="">
                <div class="lpc-itemCard_priceWrap">
                  <span class="lpc-itemCard_price">¥1,000</span>
                </div>
              </div>
              <div class="lpc-itemCard_nameWrap">
                <p class="lpc-itemCard_name">スタンスミス / Stan Smith</p>
              </div>
            </a>
          </li>
          <li class="lpc-itemCard_item js-lpc-itemCard_item">
            <a href="/" class="lpc-itemCard_link">
              <div class="lpc-itemCard_imgWrap">
                <img class="lpc-itemCard_img" src="<%= data.current %>assets/images/Superstar_OT_Tech_Shoes_Black_GV7572_01_standard.png" alt="">
                <div class="lpc-itemCard_priceWrap">
                  <span class="lpc-itemCard_price">¥1,000</span>
                </div>
              </div>
              <div class="lpc-itemCard_nameWrap">
                <p class="lpc-itemCard_name">スタンスミス / Stan Smith</p>
              </div>
            </a>
          </li>
          <li class="lpc-itemCard_item js-lpc-itemCard_item">
            <a href="/" class="lpc-itemCard_link">
              <div class="lpc-itemCard_imgWrap">
                <img class="lpc-itemCard_img" src="<%= data.current %>assets/images/Superstar_OT_Tech_Shoes_Black_GV7572_01_standard.png" alt="">
                <div class="lpc-itemCard_priceWrap">
                  <span class="lpc-itemCard_price">¥1,000</span>
                </div>
              </div>
              <div class="lpc-itemCard_nameWrap">
                <p class="lpc-itemCard_name">スタンスミス / Stan Smith</p>
              </div>
            </a>
          </li>
          <li class="lpc-itemCard_item js-lpc-itemCard_item">
            <a href="/" class="lpc-itemCard_link">
              <div class="lpc-itemCard_imgWrap">
                <img class="lpc-itemCard_img" src="<%= data.current %>assets/images/Superstar_OT_Tech_Shoes_Black_GV7572_01_standard.png" alt="">
                <div class="lpc-itemCard_priceWrap">
                  <span class="lpc-itemCard_price">¥1,000</span>
                </div>
              </div>
              <div class="lpc-itemCard_nameWrap">
                <p class="lpc-itemCard_name">スタンスミス / Stan Smith</p>
              </div>
            </a>
          </li>
          <li class="lpc-itemCard_item js-lpc-itemCard_item">
            <a href="/" class="lpc-itemCard_link">
              <div class="lpc-itemCard_imgWrap">
                <img class="lpc-itemCard_img" src="<%= data.current %>assets/images/Superstar_OT_Tech_Shoes_Black_GV7572_01_standard.png" alt="">
                <div class="lpc-itemCard_priceWrap">
                  <span class="lpc-itemCard_price">¥1,000</span>
                </div>
              </div>
              <div class="lpc-itemCard_nameWrap">
                <p class="lpc-itemCard_name">スタンスミス / Stan Smith</p>
              </div>
            </a>
          </li>
          <li class="lpc-itemCard_item js-lpc-itemCard_item">
            <a href="/" class="lpc-itemCard_link">
              <div class="lpc-itemCard_imgWrap">
                <img class="lpc-itemCard_img" src="<%= data.current %>assets/images/Superstar_OT_Tech_Shoes_Black_GV7572_01_standard.png" alt="">
                <div class="lpc-itemCard_priceWrap">
                  <span class="lpc-itemCard_price">¥1,000</span>
                </div>
              </div>
              <div class="lpc-itemCard_nameWrap">
                <p class="lpc-itemCard_name">スタンスミス / Stan Smith</p>
              </div>
            </a>
          </li>
          <li class="lpc-itemCard_item js-lpc-itemCard_item">
            <a href="/" class="lpc-itemCard_link">
              <div class="lpc-itemCard_imgWrap">
                <img class="lpc-itemCard_img" src="<%= data.current %>assets/images/Superstar_OT_Tech_Shoes_Black_GV7572_01_standard.png" alt="">
                <div class="lpc-itemCard_priceWrap">
                  <span class="lpc-itemCard_price">¥1,000</span>
                </div>
              </div>
              <div class="lpc-itemCard_nameWrap">
                <p class="lpc-itemCard_name">スタンスミス / Stan Smith</p>
              </div>
            </a>
          </li>
          <li class="lpc-itemCard_item js-lpc-itemCard_item">
            <a href="/" class="lpc-itemCard_link">
              <div class="lpc-itemCard_imgWrap">
                <img class="lpc-itemCard_img" src="<%= data.current %>assets/images/Superstar_OT_Tech_Shoes_Black_GV7572_01_standard.png" alt="">
                <div class="lpc-itemCard_priceWrap">
                  <span class="lpc-itemCard_price">¥1,000</span>
                </div>
              </div>
              <div class="lpc-itemCard_nameWrap">
                <p class="lpc-itemCard_name">スタンスミス / Stan Smith</p>
              </div>
            </a>
          </li>
          <li class="lpc-itemCard_item js-lpc-itemCard_item">
            <a href="/" class="lpc-itemCard_link">
              <div class="lpc-itemCard_imgWrap">
                <img class="lpc-itemCard_img" src="<%= data.current %>assets/images/Superstar_OT_Tech_Shoes_Black_GV7572_01_standard.png" alt="">
                <div class="lpc-itemCard_priceWrap">
                  <span class="lpc-itemCard_price">¥1,000</span>
                </div>
              </div>
              <div class="lpc-itemCard_nameWrap">
                <p class="lpc-itemCard_name">スタンスミス / Stan Smith</p>
              </div>
            </a>
          </li>
          <li class="lpc-itemCard_item js-lpc-itemCard_item">
            <a href="/" class="lpc-itemCard_link">
              <div class="lpc-itemCard_imgWrap">
                <img class="lpc-itemCard_img" src="<%= data.current %>assets/images/Superstar_OT_Tech_Shoes_Black_GV7572_01_standard.png" alt="">
                <div class="lpc-itemCard_priceWrap">
                  <span class="lpc-itemCard_price">¥1,000</span>
                </div>
              </div>
              <div class="lpc-itemCard_nameWrap">
                <p class="lpc-itemCard_name">スタンスミス / Stan Smith</p>
              </div>
            </a>
          </li>
        </ul>
        <!-- lpc-itemCard_arrow -->
        <div class="js-lpc-itemCard_arrowWrap">
          <button class="lpc-itemCard_arrow mod-prev is-disabled js-lpc-itemCard_prevArrow">
            <svg class="lpc-itemCard_arrowIcon" viewBox="0 0 24 24"><title>左矢印</title><path d="M17.59 7l5 5-5 5M0 12h22" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="2"></path></svg>
          </button>
          <button class="lpc-itemCard_arrow mod-next js-lpc-itemCard_nextArrow">
            <svg class="lpc-itemCard_arrowIcon" viewBox="0 0 24 24"><title>右矢印</title><path d="M17.59 7l5 5-5 5M0 12h22" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="2"></path></svg>
          </button>
        </div>
        <!-- lpc-itemCard_dots -->
        <ul class="lpc-itemCard_dots js-lpc-itemCard_dots">
          <li class="lpc-itemCard_dotWrap is-active js-lpc-itemCard_dot">
            <span class="lpc-itemCard_dot"></span>
          </li>
          <li class="lpc-itemCard_dotWrap js-lpc-itemCard_dot">
            <span class="lpc-itemCard_dot"></span>
          </li>
        </ul>
      </div>
    </div>


  </main>
<%_ } _%> 
<%_ /* 以下includeファイル */ _%>
<%- include( data.current + 'includes/_head', { data : data } ); %>
<%- data.content(); %>
<%- include( data.current + 'includes/_footer', { data : data } ); %>
<%- data.asset(); %>
<%- include( data.current + 'includes/_foot', { data : data } ); %>
