<%_ var data={ url: '' ,/* スラッシュ始まりのドメイン以下URL ( TOPの場合は空文字で ) */ name: 'top' ,/* bodyタグにつくid名 */ title:'',/* TOPの場合は空文字で
  */ description:'',/* TOPの場合は空文字で */ keyword:'',/* TOPの場合は空文字で */ current:'./' } _%>
  <%_ data.asset=function(){ _%>
    <%_ }; data.content=function(){ _%>
      <!-- コンテンツ開始 -->
      <header class="scrollsnap-header">
        <nav id="js-ssNavigation" class="scrollsnap-nav">
          <ul class="scrollsnap-navList">
            <li>
              <a href="#kv"></a>
            </li>
            <li>
              <a href="#about"></a>
            </li>
            <li>
              <a href="#info"></a>
            </li>
            <li>
              <a href="#contact"></a>
            </li>
          </ul>
        </nav>
      </header>
      <main id="js-scrollSnap" class="scrollsnap">

        <section class="scrollsnap-section">
          <h1>セクション1</h1>
        </section>

        <section class="scrollsnap-section">
          <h1>セクション2</h1>
        </section>

        <section class="scrollsnap-section">
          <h1>セクション3</h1>
        </section>

        <section class="scrollsnap-section">
          <h1>セクション4</h1>
        </section>

      </main>
      <!-- コンテンツ終了 -->
      <%_ } _%>
        <%_ /* 以下includeファイル */ _%>
          <%- include( data.current + 'includes/_head' , { data : data } ); %>
            <%- data.content(); %>
              <%- include( data.current + 'includes/_footer' , { data : data } ); %>
                <%- data.asset(); %>
                  <%- include( data.current + 'includes/_foot' , { data : data } ); %>